@import url("https://fonts.googleapis.com/css?family=Damion|Roboto:300,700");
.nav-huy {
  padding: 0; }
  .nav-huy li {
    display: inline-block;
    padding: 10px;
    background-color: blue; }

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  background: #232129;
  color: #fff;
  line-height: 1.6em;
  font-size: 15px; }

.bottom-line:after {
  content: '';
  position: absolute;
  width: 0;
  height: 4px;
  bottom: 0;
  left: 5%;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  border-radius: 100px;
  -webkit-transition: all .3s ease-in-out .1s;
  -moz-transition: all .3s ease-in-out .1s;
  -o-transition: all .3s ease-in-out .1s;
  transition: all .3s ease-in-out .1s;
  background-color: transparent; }

.bottom-line:hover:after, .bottom-line.active:after {
  width: 90%; }

.bottom-line.blue-line:hover:after, .bottom-line.blue-line.active:after {
  background-color: #00c6ff; }

.bottom-line.pink-line:hover:after, .bottom-line.pink-line.active:after {
  background-color: #f16d99; }

.bottom-line.green-line:hover:after, .bottom-line.green-line.active:after {
  background-color: #8acb8d; }

.bottom-line.orange-line:hover:after, .bottom-line.orange-line.active:after {
  background-color: #ffbc59; }

.bottom-line.active:after {
  width: 90%; }

.bottom-line.active:hover:after {
  background-color: #d4d6d7; }

.navbar-default {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  background: transparent;
  border: none; }
  .navbar-default .navbar-brand {
    font-family: 'Damion', cursive;
    color: #fff;
    font-size: 30px;
    position: relative; }
    .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand.active {
      color: #fff; }
  .navbar-default .navbar-nav li a, .navbar-default .navbar-nav .active a {
    color: #fff;
    background-color: transparent; }
    .navbar-default .navbar-nav li a:hover, .navbar-default .navbar-nav li a:focus, .navbar-default .navbar-nav li a:active, .navbar-default .navbar-nav .active a:hover, .navbar-default .navbar-nav .active a:focus, .navbar-default .navbar-nav .active a:active {
      background-color: transparent;
      color: #fff;
      font-weight: bold; }
  .navbar-default .navbar-nav .active a {
    font-weight: bold; }

.content-title {
  position: relative;
  margin-bottom: 25px;
  padding-bottom: 20px; }
  .content-title:after {
    content: '';
    left: 0;
    width: 0;
    bottom: 0;
    width: 50px;
    height: 6px;
    position: absolute;
    background-color: #f16d99; }

.content-left, .content-right {
  padding: 45px; }
  .content-left p, .content-right p {
    text-align: justify; }

.content-left {
  color: #232129;
  background: #fff;
  padding-bottom: 130px; }

.content-right small {
  color: #fff; }

.content-right .content-title:after {
  background-color: #fffd43; }

.content-right h3 {
  font-size: 16px;
  font-weight: bold; }

.paragraph {
  position: relative;
  margin-bottom: 30px; }
  .paragraph img {
    width: 70px;
    position: absolute; }
  .paragraph-content {
    margin-left: 90px; }

.section {
  float: left;
  width: 100%;
  margin-bottom: 30px; }
  .section-title {
    position: relative;
    margin-bottom: 25px;
    padding-bottom: 20px; }
    .section-title:after {
      content: '';
      left: 0;
      width: 0;
      bottom: 0;
      width: 50px;
      height: 6px;
      position: absolute;
      background-color: #00adef; }
  .section-body {
    float: left;
    width: 100%;
    color: #555;
    padding: 20px 30px;
    background-color: #fff; }
    .section-body h3 {
      margin-top: 20px; }
  .section.thanks {
    padding: 10px;
    margin-bottom: 0;
    text-align: center; }
    .section.thanks a {
      color: #acd9ff; }
      .section.thanks a:hover, .section.thanks a:focus {
        text-decoration: none; }

.example {
  color: #fff;
  padding: 20px;
  background-color: #322e3f;
  webkit-border-radius: 10px;
  moz-border-radius: 10px;
  ms-border-radius: 10px;
  o-border-radius: 10px;
  border-radius: 10px; }
  .example p {
    margin: 0;
    letter-spacing: 1px; }
  .example .mg-l {
    color: #fff19c;
    margin-left: 30px; }
  .example .number {
    color: #c4adff; }

[class*="dotstail-"] {
  width: 100%;
  line-height: 1.6em; }

@media (max-width: 768px) {
  .section-title {
    padding-left: 20px; }
    .section-title:after {
      left: 20px; }
  .content-left, .content-right {
    padding: 15px; }
  .section-body {
    padding: 15px 0; } }
